https://github.com/opener-project/VU-kaf-parser/archive/master.zip#egg=VUKafParserPy
https://github.com/opener-project/VUA_pylib/archive/v1.6.zip#egg=VUA_pylib
https://github.com/opener-project/KafNafParserPy/archive/v1.5.zip#egg=KafNafParserPy
